{% extends "layout.html" %}
{% block body_content %}
    
    <div class='form'>
        <form method='POST' action=''>
           <div class='form'>
            {{ form.hidden_tag() }}
           <div <div class="form">
                {{ form.email.label }}
                {{ form.email }} <br>
               <div <div class="form">
                {{ form.password.label }}
                {{ form.password }}
               <div <div class="form"> <br>
                {{ form.confirm_password.label }}
                {{ form.confirm_password }} <br>          
               <div <div class='form_group'>
                {{ form.submit }} <br>
            </div>
        </form>
   {% endblock %}
